{{define "head"}}
<head>
  <title>{{.Title}}</title>
  <meta property="og:description" content="{{.Description}}" />
  <meta name="description" content="{{.Description}}" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="favicon.ico" />
  <meta name="color-scheme" content="dark light" />

  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.1/dist/cdn/beer.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />

  <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.5.1/dist/cdn/beer.min.js"></script>
  <script type="module" src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js"></script>
  <script type="module" src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
  <script type="module" src="https://unpkg.com/hyperscript.org@0.9.12/dist/_hyperscript.min.js"></script>
  <script type="module" src="https://md-block.verou.me/md-block.js"></script>
</head>
{{end}}
