<main hx-swap-oob="afterbegin:#chat-messages">
  <article class="responsive border {{- if eq .MessageIcon "person" }} primary-border {{- end }} row small-round top-align">
    <i>{{ .MessageIcon }}</i>
    <md-block class="max" hmin="3">{{ .Message }}</md-block>
  </article>
</main>
